<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Prestamos diferentes tipos de servicios para que tu hijo este en el mejor nivel.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-female fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Futbol Niñas</h4>
                <p class="text-muted">Nuestra escuela acoge a talentosas futbolistas para aprender, crecer juntas y brillar en el campo. ¡Únete a la diversión!.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-hand-paper fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Portero</h4>
                <p class="text-muted">Sé el guardián del equipo, detén los disparos y vive la emoción de proteger el arco. ¡Forma parte de nuestro equipo de porteros!.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa fa-soccer-ball fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Futbolistas</h4>
                <p class="text-muted">En nuestra escuela, formamos campeones con pasión por el fútbol. Mejora tus habilidades y juega con alegría. ¡Te esperamos!.</p>
            </div>
        </div>
    </div>
</section>
